# Node
node_modules/
.next/
dist/
build/
.npm/

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*
*.env
.env.local
.env.development
.env.test
.env.production
.venv
env/
pip-log.txt
pip-delete-this-directory.txt

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Documents & Uploads
docs/
backend/uploads/
